[defaults]
inventory           = inventory/aws_ec2.yml
roles_path          = roles
remote_user         = ubuntu
private_key_file    = ~/.ssh.id_rsa
host_key_checking   = False
vault_password_file = vault_pass.txt
stdout_callback     = yaml
callback_whitelist  = timer, profile_tasks

[ssh_connection]
pipelining          = True
ssh_args            = -o ControlMaster=auto -o ControlPersist=60s